**/.DS_store
**/results*
**/.idea/
**/.Rproj.user/
**/real_data.Rproj
**/.Rapp.history
**/.Rhistory
**/*.genotype_ado
**/*.gz
**/*.rds
**/crc09*/**/annovar/
**/*.Rproj
**/*.html
.Rproj.user
**/.Rdata
**/.snakemake
**/*.sif
**/test/
**/*.tgz
**/*.zip
**/delSieve*/
**/annovar/
**/benchmark_results/
